* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #057cc0;
  color: #fff;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: rgb(0 0 0 / 4%);
}

.App {
  transition: 0.3s all;
}

.App.dark {
  background-color: #15202b;
}
